/* Variables */
/*--------------------------------------------------------------*/
:root {
  --dancing-font: 'Dancing Script', cursive;
}
/*--------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

/* Styling and setting background image for section */
#intro {
  background-image: url(../images/intro-bg.jpeg); 
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid #3d3d29;
  position: relative;
}

/* Styling the row inside the intro section */
.row-intro {
  height: 100%;
  background: rgba(0,0,0,0.2); 
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling the intro text */
.intro-title {
  text-align: center;
  padding-top: 105px;
  font-size: 25px;
  color: #fff;
}

.intro-text {
  color: #fff;
  font-size: 20px;
}

.line {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.title-line {
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}

/* using the google font for the nav text */
.nav-title {
  font-family: var(--dancing-font);
  font-size: 25px;
  font-weight: bolder;
}

.pageTitles {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  padding-bottom: 0.5rem;
  color: #000;
}

/* styling the p element */
p {
  font-family: sans-serif, Arial, serif;
}

/* putting space between the 2 sections */
/* .titles {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.picHolder {
  padding-bottom: 5px;
  background-size: cover;
  min-height: 100%;
} */

/* the Like heart  */ 
/* -------------------------------------------------------- */
/* .liked {
  position: absolute; 
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: 265px;
  display: none;
  height: 50px;
  background-color: #000;
  width: 93%;
  background: rgba(0,0,0,0.7); 
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
}

.liked:hover {
  display: inline-block;
} */

.fa-heart:hover {
  color: red; /* Like heart on the pictures when you hover */
}
/* -------------------------------------------------------- */

.dropdown-item {
  border-bottom: 1px solid rgb(223, 219, 219);
}

.dropdown-item:last-child {
  border-bottom: none;
}

.about-text {
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Cardo', cursive;
  font-weight: bold;
  text-align: justify;
  text-justify: newspaper;
  margin-top: 10%;
}

/* Styling the picture Modal */
#myModal {
  padding-top: 100px; /* Location of the box */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Footer  */
/* -------------------------------------------------------- */
footer {
  padding-top: 1%;
  border-top: 2px solid #3d3d29;
}

.footer-text {
  color: #fff;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
/* -------------------------------------------------------- */

/* .card {
  border: none;
}

.card-img-overlay {
  color: #fff;
  text-align: right;
  font-size: 22px;
  height: 50px;
  background-color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  background: rgba(0,0,0,0.7);
  bottom: 0;
  left: 0;
} */

.paddings {
  margin: 5px;
  margin-top: 30px;
}

.readmore {
  font-weight: bold;
}


/* img Element  */ 
/* -------------------------------------------------------- */
/* img {
  padding-bottom: 5px;
  display: block;
  background-size: cover;
  min-height: 100% !important;
  width: 200px;
  height: 200px;
} */
/* -------------------------------------------------------- */

.test {
  padding-bottom: 10px;
}

.picOverlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.image {
  display: block;
  background-size: cover;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100% !important;
}

.overlay {
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #ccc;
}

.picOverlay:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 20px; 
}

.overlayBottom {
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background: rgba(0,0,0,0.5);
}

.picOverlay:hover .overlayBottom {
  height: 15%;
}